body{
	margin: 0;
	font-family: 'Poppins', sans-serif !important;
}
p{
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 26px;
	margin-bottom: 0 !important;
}
img{
	width: 100%;
	display: block;
	object-fit: cover;
}
a{
	text-decoration: none !important;
}
ul{
	padding: 0 !important;
	margin-bottom: 0 !important;
	list-style: none;
}
button:focus{
    box-shadow: unset !important;
}
.newClass .co_header {
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    z-index: 9999;
    width: 100%;
    background: white;
}
.co_subheader{
	background: #2690BF;
	padding: 10px 0px;
}
.left-part span{
	font-size: 16px;
	color: white;
	text-transform: capitalize;
	margin-right: 20px;
}
.social-link{
	display: flex;
}
.social-link li{
	font-size: 15px;
    padding: 8px 20.5px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: unset;
    border-bottom: unset;
}
.social-link a{
	color: #fff;
}
.social-link li:hover{
	background-color: #CDA568;
	color: white;
}
.social-link li:hover a{
	color: white;
}
.right-part{
	height: 100%;
}
.right-part ul{
	justify-content: flex-end;
	height: 100%;
}
.right-part li{
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	font-size: 16px;
	color: #fff;
	padding-left: 20px;
    margin-left: 20px;
}
.language i{
	padding-right: 10px;
}
.language select{
	border: unset;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.language select option{
	color: black;
}
.language select:focus{
	outline: unset;
}
.login-btn{
	display: block;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.5px;
    text-align:center;
}
.login-btn:hover{
	color: #fff;
}
.co_header{
	background: #fff;
	position: relative;
	padding: 15px 0px;
	border-bottom: 1px solid #ccc;
}
.logo{
	position: relative;
}
.logo h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.menu ul{
	display: flex;
	justify-content: center;
}
.menu a{
	font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: 30px;
    color: black;
}
.menu a:hover{
	color: #CDA568;
}
.menu li{
	position: relative;
}
.menu ul.dropdown {
    padding: 10px 30px  !important;
     visibility: hidden; 
    display: flex;
    position: absolute;
    top: -36%;
    left: 0;
    flex-direction: column;
    margin: 0;
    list-style: none;
    color: #333;
    transform: translateY(50px);
    transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
     opacity: 0; 
    z-index: 99;
    background: #FFFFFF;
    border-top: 3px solid #2690BF;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 11%);
    border-radius: 5px;
    width: 200px;
}
.dropdown li a{
	display: block;
	padding: 10px 0px;
}